body {
margin: 0;
font-family: Gotham SSm A,Gotham SSm B,Arial,sans-serif;
}

.header{
  display: block;
  width: 93.6%;
  height: 50%;
  padding: 60px;
  background-color: #005EB8;
}

.logo{
  display: flex;
  margin-left: 0%;
  margin-right: 0%;
  text-align: left;
}

.header_title{
  color: white;
  display: flex;
  /* padding: 50px; */
  margin-left: 35%;
  margin-right: 30%;
  /* text-align: center; */
  font-size: 40px;
}

.inner_title{
  color: #014b90;
  text-align: center;
  display: block;
}

.page{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text{
  display:flex;
  flex-wrap: wrap;
  position: relative;
  width: 600px;
  height: 100%;
  /* border: 5px solid green;  */
  margin: 50px;
  margin-top: 10px;
  font-family: Gotham SSm A,Gotham SSm B,Arial,sans-serif;
  font-size: 20px;
}

.form{
  display:flex;
  flex-wrap: wrap;
  position: relative;
  width: 350px;
  height: 100%;
  padding: 50px;
  background-color: #327ec5;
 
  font-family: Gotham SSm A,Gotham SSm B, Arial,sans-serif;
  font-size: 15px;
  /* color: white; */
}

.validation{
  font-size: 11px;
  color: rgb(180, 0, 0);
}

.input-wrap{
  width: 100%;
  display: block;
}

.labelCol{
  float: left;
  width: 50%;
  font-size: 17px;
  margin-top: 6px;
  margin-bottom: 6px;
  font-family: Gotham SSm A,Gotham SSm B, Arial,sans-serif;
}

.inputCol{
  float: left;
  width: 50%;
  margin-top: 6px;
  margin-bottom: 6px;
}

.checkbox{
  display: block;
  font-size: 15px;
  margin-top: 12px;
}

.button{
  border: none;
  color: white;
  padding: 5px 12px;
  margin: 8px 4px;
  /* width: 50%;
  height: 100%; */
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  color: white;
  background-color: #065daf; 
  font-family: Gotham SSm A,Gotham SSm B, Arial,sans-serif;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #014b90
}

.button:active {
  background-color:#065daf;
  transform: translateY(2px);
}

.font{
  font-family: Gotham SSm A,Gotham SSm B, Arial,sans-serif;
}

 .footer{
  display: block;
  width: 98.9%;
  height: 100%;
  padding: 10px;
  background-color: #005EB8;
  bottom: -150px;
  position: relative;
} 
